*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
body{
	font-size: 20px;
	overflow-x: hidden;
	color:white;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/bg.jpg');
	box-size:cover;
	background-repeat: no-repeat;
	height:100vh;
}
.clearfix:after{
	content: ".";
	visibility: hidden;
	display:block;
	height:0px;
	clear:both;
}
.row{
	max-width: 1180px;
	margin: 0 auto;
}
.logo
{
	height:120px;
	width:auto;
	float:left;
	margin-top:20px;
}
.main-nav
{
	float:right;
	margin-top:60px;
}
.main-nav li
{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}
.main-nav li a
{
	padding:5px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size:90%;
	font-width:100%;

}
.main-nav li a:hover{
	border-bottom:2px solid #bf55ec;
}
.main-content-header{
	width:1180px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
h1{
	color:#fff;
	font-size: 240%
	word-spacing:5px;
	letter-spacing:3px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: lighter;
}
.btn{
	display:inline-block;
	text-decoration: none;
	padding: 10px 30px;
	font-width:lighter;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color: 0.2s,border 0.2s,color 0.2s;
}
.btn-full{
	background-color: transparent;
	color:#bf55ec;
	margin-right: 15px;
	border: 1px solid #bf55ec;
}

.btn-nav{
	background-color: transparent;
	color:#fff;
	margin-right: 15px;
	border: 1px solid #fff;
}
.btn-full:hover{
	background-color:red; 
}
.btn-nav:hover{
	background-color:pink; 
}
.cc
{
	animation: cc 1s infinite;
}
@keyframe cc
{
	0%{color:red;}
	25%{color:pink;}
	50%{color:blue;}
	100%{color:white;}
}
/* responive query */
.mobile-icon{display:none;}


@media only screen and  (max-width: 1180px){
	.main-content-header{
		width:100%;
		padding:0px 2%;
	}

	
}
@media only screen and  (max-width: 998px){
	h1{font-size: 200%;}
		
}
@media only screen and  (max-width: 768px){
	h1{font-size: 182%;}
		
	.main-nav{display:none;
		
	}
	.mobile-icon{
		display: inline-block;
		color:white;
		float:right;
		margin-top:30px;
		margin-right:20px;
		text-decoration: none;
	}
	.main-nav li{
		float:left;
		display:block;
		margin-top:10px;
	}
	
}
